*{
    box-sizing: border-box;
}

*::before,
*::after,

:root{
    margin: 0;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
}

a {
    font-family: 'Kulim Park Semi-bold 600', sans-serif;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

h1 {
    font-family: 'Kulim Park Semi-bold 600', sans-serif;
    font-size: 30px;
    color: #c0c0c0;
}

h2 {
    font-family: 'Kulim Park Regular 400', sans-serif;
    font-size: 25px;
    color: black;
}

h3 {
    font-family: 'Kulim Park Light 300', sans-serif;
    font-size: 19px;
    color: black;
}

p {
    font-family: 'Kulim Park', sans-serif;
    font-size: 17px;
    color: black;
}

/* Header CSS */
.site-header {
    box-sizing: border-box;
    width: 100%;
    height: 40em;
    background-color: black;
}

.header-container {
    box-sizing: border-box;
    width: 90%;
    height: 100%;
    margin-left: 5%;
}

.logo-container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.title-container {
    box-sizing: border-box;
    width: 100%;
    height: 30em;
}

.title-container h1 {
    padding-left: 10%;
    padding-bottom: 20%;
    font-size: 35px;
}

.title-container h3 {
    font-size: 25px;
    padding-bottom: 10%;
    text-align: center;
    color: #c0c0c0;
}

.header-menu {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding-bottom: 5%;
}

.contact-button {
    box-sizing: border-box;
    width: 250px;
    height: 60px;
    margin: 10% 0% 15% 15%;
    padding: 15px 25px 10px 0px;
    background-color: #c0c0c0;
    border-radius: 30px;
    text-align: center;
    background-image: url(/images/email_black_24dp.svg);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position-x: 190px;
    background-position-y: center;
}

/*css main content*/
.main-container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

/* Section 1 CSS */
.section1-container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.my-services-container {
    box-sizing: border-box;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-top: 20%;
    margin-bottom: 5%;
}

.services-title {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: center;
}

.my-services {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    height: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: center;
}

.manual-testing-img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.manual-testing-img img {
    width: 100%;
    height: 100%;
}

.manual-testing {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: 20%;
    margin-bottom: 20%;
}

.mangmt-img {
    box-sizing: border-box;
    width: 100%;
    height: 20em;
}

.mangmt-services {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: 20%;
    margin-bottom: 20%;
}

.automation-img {
    box-sizing: border-box;
    width: 100%;
    height: 20em;
}

.automation-services {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: 20%;
    margin-bottom: 20%;
}


/* Section 2 CSS */
.section2-container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: #cdcbcb;
}

.mybackground-container {
    box-sizing: border-box;
    width: 90%;
    height: auto;
    margin-left: 5%;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
}

.mybackground-container a {
    font-family: 'Kulim Park Semi-bold 600', sans-serif;
    font-size: 20px;
    color: white;
}

/* Section 3 CSS */
.section3-container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: black;
}

.contactame-container {
    box-sizing: border-box;
    width: 90%;
    height: auto;
    margin-left: 5%;
    padding-top: 20%;
    padding-bottom: 20%;
}

.contact-button2 {
    box-sizing: border-box;
    width: 250px;
    height: 60px;
    margin: 10% 0% 15% 15%;
    padding: 15px 25px 10px 0px;
    background-color: #c0c0c0;
    border-radius: 30px;
    text-align: center;
    background-image: url(/images/email_black_24dp.svg);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position-x: 190px;
    background-position-y: center;
}

/* Footer CSS */
.site-footer {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: #393737;
}

.social-container {
    box-sizing: border-box;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-top: 0%;
    padding-left: 60%;
    padding-top: 25%;
    padding-bottom: 20%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

.social-container img {
    box-sizing: border-box;
    width: 80%;
    height: 80%;
}

.copyright-container {
    box-sizing: border-box;
    width: 90%;
    height: auto;
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom: 30%;
    text-align: center;
}

.copyright-container p {
    color: white;
    font-size: 15px;
}

@media screen and (min-width: 500px) 
{
    
    .contact-button {
        width: 350px;
        height: 60px;
        margin: 15% 0% 15% 12%;
        padding: 13px 40px 10px 0px;
        background-color: #c0c0c0;
        border-radius: 50px;
        background-size: 45px;
        background-position-x: 240px;
        background-position-y: center;
    }

    .contact-button a{
        font-size: 30px;
    }
    
    .title-container h1 {
        font-size: 45px;
    }

    .title-container h3 {
        font-size: 35px;
    }

    .services-title h1 {
        font-size: 45px;
    }

    .my-services h2 {
        font-size: 35px;
    }

    .my-services p {
        font-size: 25px;
    }

    .mybackground-container h3 {
        font-size: 25px;
    }

    .mybackground-container a {
        font-size: 25px;
    }

    .contact-button2 {
        width: 350px;
        height: 60px;
        margin: 15% 0% 15% 12%;
        padding: 13px 40px 10px 0px;
        background-color: #c0c0c0;
        border-radius: 50px;
        background-size: 45px;
        background-position-x: 240px;
        background-position-y: center;
    }

    .social-container {
        margin-left: 5%;
        margin-top: 0%;
        padding-left: 60%;
        padding-top: 15%;
        padding-bottom: 10%;
    }

    .social-container img {
        width: 75%;
        height: 75%;
    }

    .copyright-container {
        margin-left: 5%;
        padding-top: 5%;
        padding-bottom: 20%;
    }

    .copyright-container p {
        font-size: 20px;
    }

}

@media screen and (min-width: 700px) 
{

    .contact-button {
        width: 450px;
        height: 95px;
        margin: 15% 0% 15% 18%;
        padding: 23px 40px 10px 0px;
        background-color: #c0c0c0;
        border-radius: 50px;
        background-size: 65px;
        background-position-x: 320px;
        background-position-y: center;
    }

    .contact-button a{
        font-size: 40px;
    }
    
    .title-container h1 {
        font-size: 70px;
    }

    .title-container h3 {
        font-size: 55px;
    }

    .services-title h1 {
        font-size: 65px;
    }

    .my-services h2 {
        font-size: 55px;
    }

    .my-services p {
        font-size: 45px;
    }

    .mybackground-container h3 {
        font-size: 55px;
    }

    .mybackground-container a {
        font-size: 55px;
    }

    .contact-button2 {
        width: 450px;
        height: 95px;
        margin: 15% 0% 15% 18%;
        padding: 23px 40px 10px 0px;
        background-color: #c0c0c0;
        border-radius: 50px;
        background-size: 65px;
        background-position-x: 320px;
        background-position-y: center;
    }

    .social-container {
        margin-left: 5%;
        margin-top: 0%;
        padding-left: 60%;
        padding-top: 15%;
        padding-bottom: 10%;
    }

    .social-container img {
        width: 85%;
        height: 85%;
    }

    .copyright-container {
        margin-left: 5%;
        padding-top: 5%;
        padding-bottom: 20%;
    }

    .copyright-container p {
        font-size: 30px;
    }
}

@media screen and (min-width: 1000px) 
{
    
    .header-container {
        width: 100%;
        height: 40em;
        margin-left: 0%;
    }
    
    .logo-container {
        width: 60%;
        height: auto;
        float: left;
    }
    
    .title-container {
        width: 100%;
        height: 30em;
    }
    
    .title-container h1 {
        font-size: 50px;
        text-align: left;
        padding-left: 15%;
        padding-right: 10%;
    }
    
    .title-container h3 {
        font-size: 30px;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 15%;
        text-align: left;
    }
    
    .header-menu {
        width: 40%;
        height: auto;
        float: left;
    }
    
    .contact-button {
        box-sizing: border-box;
        width: 250px;
        height: 70px;
        margin: 10% 20% 0% 10%;
        padding: 20px 50px 9px 0px;
        background-size: 40px;
        background-position-x: 175px;
    }

    .contact-button a {
        font-size: 25px;
    }

    .services-title h1 {
        font-size: 45px;
    }

    .my-services-container {
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .services-title {
        margin-top: 10%;
        margin-bottom: 0%;
    }

    .my-services {
        grid-auto-flow: column;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .my-services h2 {
        font-size: 40px;
    }

    .my-services p {
        font-size: 30px;
    }

    .mybackground-container h3 {
        font-size: 45px;
    }

    .mybackground-container a {
        font-size: 45px;
    }

    .section3-container {
        height: 30em;
    }

    .contactame-container {
        padding-top: 15%;
        padding-bottom: 10%;
    }

    .contact-button2 {
        width: 250px;
        height: 70px;
        margin: 0% 10% 0% 40%;
        padding: 20px 50px 9px 0px;
        background-size: 40px;
        background-position-x: 175px;
    }

    .social-container {
        margin-left: 5%;
        margin-top: 0%;
        padding-left: 80%;
        padding-right: 0%;
        padding-top: 5%;
        padding-bottom: 1%;
    }

    .social-container img {
        width: 70%;
        height: 70%;
    }

    .copyright-container {
        margin-left: 5%;
        padding-top: 0%;
        padding-bottom: 5%;
    }

    .copyright-container p {
        font-size: 15px;
    }

}
